<ion-view title="Concluir Pedido" id="page12" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-exit"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="list card manual-card-fullwidth" id="concluirPedido-card21">
      <div class="item item-body" id="concluirPedido-list-item-container2">
        <div id="concluirPedido-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Informações cliente</p>
        </div>
      </div>
      <form id="concluirPedido-form12" class="list">
        <label class="item item-input item-stacked-label" id="concluirPedido-input13">
          <span class="input-label">Cliente</span>
          <input type="text" placeholder="Nome cliente">
        </label>
        <label class="item item-input item-stacked-label" id="concluirPedido-input14">
          <span class="input-label">Endereço</span>
          <input type="text" placeholder="Ex.: Rua, bairro, número">
        </label>
        <label class="item item-input item-stacked-label" id="concluirPedido-input15">
          <span class="input-label">Cidade</span>
          <input type="text" placeholder="Digite a cidade">
        </label>
        <label class="item item-input item-stacked-label" id="concluirPedido-input16">
          <span class="input-label">CPF</span>
          <input type="number" placeholder="Digite o CPF">
        </label>
        <label class="item item-input item-stacked-label" id="concluirPedido-input17">
          <span class="input-label">RG</span>
          <input type="number" placeholder="Digite o RG">
        </label>
        <label class="item item-input item-stacked-label" id="concluirPedido-input18">
          <span class="input-label">Observações</span>
          <input type="text" placeholder="Digite uma descrição">
        </label>
      </form>
    </div>
    <div class="list card manual-card-fullwidth" id="concluirPedido-card22">
      <div class="item item-body" id="concluirPedido-list-item-container3">
        <div id="concluirPedido-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Informações pedido</p>
        </div>
      </div>
      <form class="list">
        <label class="item item-select">
          <span class="input-label">Forma de pagamento</span>
          <select ng-model="parcela" ng-change="ctrl.parcelar(parcela)" ng-options="parcela for parcela in ctrl.parcelas">
            <option value="">À vista</option>
          </select>
        </label>
        <label ng-if="ctrl.campodesconto" class="item item-select">
          <span class="input-label">Desconto</span>
          <select ng-model="ctrl.pctdesconto" ng-change="ctrl.desconto(ctrl.pctdesconto)" ng-options="porcento + ' por cento' for porcento in ctrl.lstDescontos">
            <option value="">Sem desconto</option>
          </select>
        </label>
        <ion-item ng-repeat="produtos in ctrl.produtos">
          
        <span ng-bind="produtos.quantidade + 'x - ' + produtos.descricao"></span>
        <span class="badge badge-assertive" ng-bind="produtos.valor | currency : ''">
        </ion-item>
        <ion-item>
          <strong>Total a pagar:</strong>  <span class="badge badge-assertive" ng-bind="ctrl.total | currency : 'R$ '"></span></ion-item>
      </form>
    </div>
    <div id="concluirPedido-button-bar2" class="button-bar">
      <button class="button button-positive button-block icon-left ion-ios-trash">Remover</button>
      <button class="button button-dark button-block icon-left ion-android-send">Enviar</button>
    </div>
  </ion-content>
</ion-view>